<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
<div class="wrapper">
    <div class="header">
        <a [routerLink]="['/players']">Manage Players</a> |  
        <a [routerLink]="['/status', 'game', 1]">Manage Player Status</a>
    </div>
    <router-outlet></router-outlet>
</div>
